<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Gallery
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding-vertical>
  <ion-grid *ngIf="view === 'grid'">
    <ion-row>
      <ion-col col-6 col-md-4 col-xl-3 *ngFor="let cat of cats">
        <div class="image" [style.background-image]="'url(' + cat.link + ')'"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="view === 'thumbnail'">
    <ion-item *ngFor="let cat of cats">
      <ion-thumbnail item-start>
        <div class="image-thumbnail" [style.background-image]="'url(' + cat.link + ')'"></div>
      </ion-thumbnail>
      <h2>{{ getTitle(cat.title) }}</h2>
      <p>{{ getDescription(cat.description) }}</p>
    </ion-item>
  </ion-list>

  <ion-slides *ngIf="view === 'slide'">
    <ion-slide *ngFor="let cat of cats">
      <h1>{{ getTitle(cat.title) }}</h1>
      <div class="image-slide" [style.background-image]="'url(' + cat.link + ')'"></div>
      <p padding>{{ getDescription(cat.description) }}</p>
    </ion-slide>
  </ion-slides>
</ion-content>
